{
  "vk_access_token": "YOUR ACCESS TOKEN",
  "group_id": "PARSED GROUP ID",
  "logging": {
    "console": {
      "enabled": true
    },
    "file": {
      "file_path": "parser.log",
      "enabled": true
    },
    "vk_message": {
      "vk_access_token": "ACESS TOKEN",
      "user_log_id": "USER ID",
      "enabled": false
    }
  },
  "data_fp": "../data"
}
